<div class="card">
    <div class="card-body">
        
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat a repellat dolores, illo ut quia voluptate! Quam, reprehenderit fugit. Laboriosam sint neque pariatur eum perspiciatis quae, ad dicta totam nam!
        Sed explicabo deleniti distinctio nihil, aliquid officia magni accusamus autem odit magnam error quo. Nobis nulla officia quasi sed. Beatae ex delectus repellat architecto fugit in nihil mollitia suscipit consequuntur.
        Alias consequuntur quae ducimus earum eum iure ea iste molestiae est animi ex eligendi porro aliquid nemo, in, perferendis fugiat! Adipisci, earum temporibus aperiam exercitationem reiciendis fugiat esse rerum voluptatum.
        Impedit adipisci amet corrupti in pariatur voluptas temporibus tempore eos harum, provident natus ullam itaque ut quis ad quaerat. Fugit laboriosam porro animi aliquam deleniti quasi omnis iure distinctio dolore.</p>
    </div>
</div>