<div class="jumbotron mt-4">
    <h1 class="display-4">Casos coronavirus los lagos </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cumque 
        velit modi voluptates doloremque consequatur, suscipit dolor amet sed tempora reprehe
        nderit itaque accusamus aut molestias culpa iste maxime error praesentium.4</p>
    <a href="http://juanfelipecelis.cl" class="btn btn-primary btn-lg">Juan Felipe</a>

</div>